html, body {
	background-color: #553651;
	color: #fcf6de;
	margin: 0.3em;
	font-family: "helvetica", sans-serif;
    overflow-x: hidden;
}

body {
	max-width: 768px;
}

@media (max-width: 768px) {
    margin: 2em;
}

p {
	line-height: 2
}

a:link {
	color: gold;
}

a:visited {
	color: goldenrod;
}

li {
	margin-bottom: 0.7rem;
}

pre, code {
  font-family: monospace, monospace;
  font-size: 0.9rem;
}
pre {
  padding: 1rem;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

p > code {
  padding: 0.3rem;
  white-space: pre-wrap;
  background-color: #fdf6e3;
  color: #657b83;
}
