html, body {
	max-width: 768px;
	background-color: #473845;
	color: #fcf6de;
	margin: 0.7rem auto;
	font-family: "helvetica", sans-serif;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    html, body {
        margin: 0.7rem;
    }
}

p {
	line-height: 2
}

a:link {
	color: gold;
}

a:visited {
	color: goldenrod;
}

.toc {
    margin-top: 2rem;
}

ul {
    width: fit-content;
}

li {
    width: fit-content;
	margin-bottom: 0.7rem;
}

pre, code {
  font-family: monospace, monospace;
  font-size: 1rem;
}
pre {
  padding: 1rem;
  overflow: auto;
  border-radius: 5px;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

p > code, li > code {
  padding: 0.3rem;
  white-space: pre-wrap;
  background-color: #282828;
  color: #fdf4c1;
}

table {
  table-layout: fixed;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
  text-align: center;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #60e84c;
}
