{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Tutorials on Python">
<title>Tutorials</title>
<link rel="stylesheet" href="/page.css">
{% endblock %}

{% block body %}
{% set up_path = section.components | slice(end=-1) | join(sep="/") %}
{% if up_path != "tutorials" %}
  <a href="{{ get_url(path='@/' ~ up_path ~ '/_index.md') }}">Up</a>
{% else %}
  <a href="{{ get_url(path='/') }}">Home</a>
{% endif %}
{% if section.subsections %}
<ul>
  {% set subsections = [] %}
  {% for subsection_uri in section.subsections %}
      {% set section_obj = get_section(path=subsection_uri) %}
      {% set_global subsections = subsections | concat(with=section_obj) %}
  {% endfor %}
  {% for subsection_uri in section.subsections %}
  {% set subsection = get_section(path=subsection_uri) %}
  <li>
      <a href="{{ subsection.path }}">{{ subsection.title }}</a>
  </li>
  <ul>
    {% for page in subsection.pages %}
      <li>
	      <a href="{{ page.path }}">{{ page.title }}</a>
      </li>
    {% endfor %}
  </ul>
  {%- endfor %}
</ul>
{% endif %}
<ul>
  {% for page in section.pages -%}
  <li>
	  <a href="{{ page.path }}">{{ page.title }}</a>
  </li>
  {%- endfor %}
</ul>
{% endblock %}
