{% extends "base.html" %}

{% block meta %}
<meta name="description" content="{{page.description}}">
<title>{{page.title}}</title>
<link rel="stylesheet" href="/resume.css">
{% endblock %}

{% block body %}
<div class="header no-print">
    <a href="{{ get_url(path='') }}">Home</a>
</div>
<div class="inner-body">
    <h1><a href="mailto: raymi306@gmail.com">Andrew Langmeier</a></h1>
    <p>
    Software engineer passionate about learning and helping others.
    </p>
    <p>
    Leverage the appropriate tool for a problem, rather than being the hammer treating everything as a nail.
    </p>
    <p>
    Visit my <a href="https://github.com/raymi306">GitHub</a> for open source contributions and personal projects.
    </p>
    <br>
    <h3>Professional Experience</h3>
    <hr/>
    <h4>Software Engineer, Contractor<span class="job-dates"> – Sep 2023-Present</span></h4>
    Cisco
    <ul>
        <li>
            Write AWS serverless backends with Python and DocumentDB
        </li>
        <li>
            Utilize Docker containers for development tasks and reproducible CI
        </li>
        <li>
            Develop and support web application security scanning platform
        </li>
    </ul>
    <h4>Software Engineer, Contractor<span class="job-dates"> – May 2023-Aug 2023</span></h4>
    Canold
    <ul>
        <li>
            Perform ETL tasks with Python and bespoke tooling
        </li>
        <li>
            Create and manage Django ORM models
        </li>
        <li>
            Use MySQL CLI to explore and validate data
        </li>
        <li>
            Use Kubernetes containers to manage development and production environments
        </li>
    </ul>
    <h4>Software Engineer<span class="job-dates"> – Jan 2022-Mar 2023</span></h4>
    Bigleaf Networks
    <ul>
        <li>
            Contribute to new FastAPI + Postgres web dashboard
        </li>
        <li>
            Refactor legacy embedded and API Python code
        </li>
        <li>
            Create development VMs for testing Wireguard fork, squash Wireguard fork bugs
        </li>
        <li>
            Evangelize for Rust adoption with PoC, presentation, and CLI tool
        </li>
        <li>
            Rewrite tests to take advantage of Pytest features and improve idempotency
        </li>
        <li>
            Set up CI for code quality using Github Actions
        </li>
    </ul>
    <h4>Site Reliability Engineer, Contractor<span class="job-dates"> – Oct 2021-Jan 2022<span></h4>
    JP Morgan Chase
    <ul>
        <li>
            Use monitoring tools, Linux skills, and cross-team communication to keep jobs running smoothly
        </li>
        <li>
            Look for opportunities to automate support tasks
        </li>
    </ul>
    <h4>Developer<span class="job-dates"> – Oct 2019-Aug 2021<span></h4>
    Grathwol Automation/Astec Industries
    <ul>
        <li>
            Create and maintain telematics solutions from embedded Linux to HTML frontend
        </li>
        <li>
            Rewrite telematics daemon to feature a clean, pluggable design using metaprogramming and OOP to hasten development and reduce boilerplate
        </li>
        <li>
            Create and maintain Digital Ocean infrastructure, making extensive use of Ubuntu and FOSS tools and technologies
        </li>
        <li>
            Write detailed documentation and train other programmers and teams in the design and layout of Python Flask backends
        </li>
        <li>
            Assist both teammates and customers with troubleshooting tasks across all stacks
        </li>
    </ul>
    <h4>QA and Automation for art of rally<span class="job-dates"> – Apr 2019-Sep 2020<span></h4>
    Funselektor Labs
    <ul>
        <li>
            Write and maintain a Python tool to automate mundane Steam leaderboard maintenance tasks, previously performed manually by lead developer
        </li>
        <li>
            Assist with both gameplay ideas and bug squashing
        </li>
    </ul>
    <br>
    <h3>Selected Open Source Project</h3>
    <hr/>
    <ul>
        <li>
            <b><a href=https://github.com/getzola/zola>Zola</a></b>(Static Site Generator, Rust) Apr 2023-Present
        </li>
    </ul>
    <br>
    <h3>Selected Skills</h3>
    <hr/>
    <ul>
        <li>
            <b>Python:</b>pytest, hypothesis, multiprocessing, async, pdb, tkinter, webscraping
        </li>
        <li>
            <b>Rust:</b>egui, game engine development
        </li>
        <li>
            <b>Unix:</b>Linux, Virtualization/Containerization, OpenBSD, Networking
        </li>
        <li>
            <b>Frontend:</b>Typescript+HTML5+CSS, Vue.js, web sockets, static site generation
        </li>
        <li>
            <b>Backend:</b>Flask/FastAPI/Django/Bespoke/Actix Web, nginx/httpd
        </li>
        <li>
            <b>Embedded:</b>Buildroot Linux, U-Boot, SocketCAN, J1939
        </li>
        <li>
            <b>Database:</b>Postgres/MySQL/SQLite, MongoDB, ORM, Design
        </li>
        <li>
            <b>VCS &amp CI/CD:</b>Git+Github+Github Actions, Jenkins
        </li>
        <li>
            <b>IaC:</b>ansible, terraform
        </li>
        <li>
            <b>AWS:</b>Lambda, Cloudfront, CDK, API Gateway
        </li>
        <li>
            <b>C:</b>Essentials + Win32 console and graphical applications
        </li>
        <li>
            <b>ASM:</b>x86-64, Reversing and exploiting MSP430 assembly
        </li>
        <li>
            <b>Java:</b>Essentials + JUnit
        </li>
        <li>
            <b>Modeling/Design:</b>GIMP, Blender, draw.io
        </li>
    </ul>
</div>
{% endblock %}
