{% extends "base.html" %}

{% block meta %}
<meta name="description" content="{{page.description}}">
<title>{{page.title}}</title>
<link rel="stylesheet" href="/resume.css">
{% endblock %}

{% block body %}
<div class="header no-print">
    <a href="{{ get_url(path='') }}">Home</a>
</div>
<div class="inner-body">
    <h1><a href="mailto: raymi306@gmail.com">Andrew Langmeier</a></h1>
    <p>
    Fullstack developer with additional experience in embedded programming, network configuration, server administration, and database design.
    <br>
    Check out my <a href="https://github.com/raymi306">GitHub</a> for open source contributions and personal projects.
    </p>
    <br>
    <h3>Professional Experience</h3>
    <hr/>
    <h4>Software Engineer, Contractor<span class="job-dates"> – Sep 2023-Present</span></h4>
    Cisco
    <ul>
        <li>
            Write AWS serverless backends with Python and NoSQL
        </li>
        <li>
            Utilize Docker containers for development tasks and reproducible CI.
        </li>
    </ul>
    <h4>Software Engineer, Contractor<span class="job-dates"> – May 2023-Aug 2023</span></h4>
    Canold
    <ul>
        <li>
            Perform ETL tasks with Python and bespoke tooling
        </li>
        <li>
            Create and manage Django ORM models
        </li>
        <li>
            Make effective use of MySQL CLI to explore and validate data
        </li>
        <li>
            Use Kubernetes containers to manage development and production environments
        </li>
    </ul>
    <h4>Software Engineer<span class="job-dates"> – Jan 2022-Mar 2023</span></h4>
    Bigleaf Networks
    <ul>
        <li>
            Contribute to new FastAPI + Postgres web dashboard
        </li>
        <li>
            Refactor legacy embedded and API Python code
        </li>
        <li>
            Create development VMs for testing Wireguard fork, squash Wireguard fork bugs
        </li>
        <li>
            Evangelize for Rust adoption with PoC, presentation, and CLI tool
        </li>
        <li>
            Rewrite tests to take advantage of Pytest features and improve idempotency
        </li>
        <li>
            Set up CI for code quality using Github Actions
        </li>
    </ul>
    <h4>Site Reliability Engineer, Contractor<span class="job-dates"> – Oct 2021-Jan 2022<span></h4>
    JP Morgan Chase
    <ul>
        <li>
            Use monitoring tools, Linux skills, and cross-team communication to keep jobs running smoothly
        </li>
        <li>
            Look for opportunities to automate support tasks
        </li>
    </ul>
    <h4>Developer<span class="job-dates"> – Oct 2019-Aug 2021<span></h4>
    Grathwol Automation/Astec Industries
    <ul>
        <li>
            Create and maintain telematics solutions from embedded Linux to HTML frontend
        </li>
        <li>
            Rewrite telematics daemon to feature a clean, pluggable design using metaprogramming and OOP to hasten development and reduce boilerplate
        </li>
        <li>
            Create and maintain Digital Ocean infrastructure, making extensive use of Ubuntu and FOSS tools and technologies
        </li>
        <li>
            Write detailed documentation and train other programmers and teams in the design and layout of Python Flask backends
        </li>
        <li>
            Assist both teammates and customers with troubleshooting tasks across all stacks
        </li>
    </ul>
    <h4>QA and Automation for art of rally<span class="job-dates"> – Apr 2019-Sep 2020<span></h4>
    Funselektor Labs
    <ul>
        <li>
            Write and maintain a Python tool to automate mundane Steam leaderboard maintenance tasks, previously performed manually by lead developer
        </li>
        <li>
            Assist with both gameplay ideas and bug squashing
        </li>
    </ul>
    <br>
    <h3>Skills</h3>
    <hr/>
    <ul>
        <li>
            <b>Frontend:</b>   Typescript, Vue.js, HTML5+CSS, web sockets, static site generators</span>
        </li>
        <li>
            <b>Backend:</b>    Python3, Flask/FastAPI/Django/Serverless, Postgres/MySQL/MongoDB</span>
        </li>
        <li>
            <b>Embedded:</b>    Python3, Buildroot Linux, U-Boot, SQLite, SocketCAN, J1939
        </li>
        <li>
            <b>Python 3.x:</b>    pdb, unittest, pytest, hypothesis, tkinter, parallel/async
        </li>
        <li>
            <b>Database:</b>    Postgres, MySQL, SQLite, SQLAlchemy, NoSQL</span>
        </li>
        <li>
            <b>VCS & CI/CD:</b>    Git+Github+Github Actions, Jenkins
        </li>
        <li>
            <b>Unix:</b>    iptables, Samba, nvim, Xen VMs, OpenBSD, Linux
        </li>
        <li>
            <b>Web:</b>    DNS, SSL, VPNs, nginx, httpd
        </li>
        <li>
            <b>Cloud:</b>    Digital Ocean, Azure, AWS, GCP, Cloudflare
        </li>
        <li>
            <b>Rust:</b>	Actix Web, sdl2, egui, game engine development
        </li>
        <li>
            <b>Java:</b>    Selenium web driver automation, web scraping, JUnit
        </li>
        <li>
            <b>C:</b>    Win32 console and graphical applications, GDI software rendering
        </li>
        <li>
            <b>ASM:</b>    Reversing and exploiting MSP430 assembly, x86-64
        </li>
        <li>
            <b>Modeling/Design:</b>    GIMP, Blender
        </li>
        <li>
            <b>Methodologies:</b>   Agile, OOP, Functional Programming, Data Oriented Design</span> 
        </li>
    </ul>
</div>
{% endblock %}
