{% extends "page.html" %}

{% block top %}
<a href="{{ get_url(path='') }}">Home</a> | <a href="{{ get_url(path='@/tutorials/_index.md') }}">Tutorials</a>
{% if page.date %}
<br>
<br>
<i>{{ page.date }}</i>
{% if page.updated %}
<br>
<i>Updated: {{ page.updated }}</i>
{% endif %}
{% if page.toc and page.toc[0].children | length > 1 %}
    <ul class="toc">
    {% for h1 in page.toc %}
        {% if h1.children %}
            {% for h2 in h1.children %}
                <li>
                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
                {% if h2.children %}
                    {% for h3 in h2.children %}
                        <ul>
                            <li>
                                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                            </li>
                        </ul>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
<hr>
{% endif %}
{% endblock %}
